{% extends 'template.html' %}

{% block header %}
    <title>Flask App</title>
{% endblock %}

{% block body %}
    <p class="display-6 text-center mt-4">Contacts CRUD</p>
    <p class="display-7 text-center m-1">SQLite, Flask and Bootstrap</p>

    <!-- Form -->
    <form action="/add_contact" method="POST" class="p-3">
        <div class="row">
            <div class="col">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" name="name-contact" placeholder="Enter name">
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" name="email-contact" placeholder="email">
                </div>
            </div>
            <div class="col p-3">
                <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
            </div>
        </div>
      </form>

    <!-- Table -->
    <table class="table table-striped"">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date added</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <th scope="row">{{ contact.id_contact }}</th>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.data_created }}</td>
                    <td>
                        <a href="/delete/{{ contact.id_contact }}" type="button" class="btn btn-danger btn-sm">Remove</a>
                        <a href="/update/{{ contact.id_contact }}" type="button" class="btn btn-warning btn-sm">Edit</a>
                    </td>
                </tr>
            {% endfor %}            
        </tbody>
      </table>
{% endblock %}